*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'BIZ UDPMincho', serif;
}
.headerr {
    display: flex;
    height: 80px;
    background-color: aqua;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    font-size: 40px;

}
.bann {
    width: 100%;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    height: 800px;
    background-color: black;


}
.one {
    width: 50%;
    background-image: url(../img/boutique.jpg);
    background-repeat: no-repeat;
    background-position: center;

    
}
.two {
    width: 50%;
    background-image: url(../img/figurine.jpg);
    background-repeat: no-repeat;
    background-position: center;


}
/* .three {
    width: 33%;
    background-image: url(../img/one-piece-bann.png);
} */
h1{
    display: flex;
    height: 90px;
    align-items: center;
    justify-content: center;
    font-family: 'BIZ UDPMincho', serif;
    
}
.inscription {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/inscription-bann.png);
    background-size: cover;
    background-repeat: no-repeat;
}
p {
    display: flex;
    text-align: center;
    justify-content: space-around;
}


.formulaire {

    background-color: aqua;
    opacity: 0.9;
    border-radius: 40px;
    width: 400px;
}

a{
    text-decoration: none;
    color: black;
}
a:hover {
    color: #e74c3c;
}
a.nav-link {
    text-decoration: none;
    color: black;
}
a.nav-link:hover {
    color: #e74c3c;
}